body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f6f8;
    text-align: center;
}

nav {
    background-color: #2563eb;
    color: white;
    padding: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

header {
    padding: 60px;
}

.btn {
    background-color: #2563eb;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.card {
    background: white;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    display: inline-block;
    width: 250px;
}
